In [41]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
import os, sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [9]:
spark = SparkSession.builder.appName("homework").getOrCreate()
rdd2 = spark.read.option("delimiter", ",").option("header", True).csv("social_net_with_header.csv")
rdd = rdd2.rdd

In [27]:
smart = rdd.sortBy(lambda row: -int(row[3])).take(5)
print(smart)

[Row(userID='106', name='Beverly', age='18', friends='499'), Row(userID='278', name='Data', age='44', friends='499'), Row(userID='353', name='Julian', age='64', friends='499'), Row(userID='192', name='Jadzia', age='45', friends='497'), Row(userID='266', name='Jean-Luc', age='66', friends='496')]

In [47]:
df_students_K = spark.read.option("delimiter", ",").option("header", True).csv("social_net_with_header.csv")
df_students_K = df_students_K.withColumn("friends",df_students_K['friends'].cast(IntegerType()))
df_smart_5 = df_students_K.sort(df_students_K.friends,ascending=False).take(5)
print(df_smart_5)

[Row(userID='106', name='Beverly', age='18', friends=499), Row(userID='278', name='Data', age='44', friends=499), Row(userID='353', name='Julian', age='64', friends=499), Row(userID='192', name='Jadzia', age='45', friends=497), Row(userID='266', name='Jean-Luc', age='66', friends=496)]

In [48]:
df_students_K.createOrReplaceTempView("studentsSQL")

In [50]:
smart_sql_K = spark.sql("select * from studentsSQL order by friends desc limit 5")
smart_sql_K.show()

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|   106| Beverly| 18|    499|
|   278|    Data| 44|    499|
|   353|  Julian| 64|    499|
|   192|  Jadzia| 45|    497|
|   266|Jean-Luc| 66|    496|
+------+--------+---+-------+