In [1]:
from pyspark.sql import SparkSession
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
import os, sys

In [2]:
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
print(sys.executable)
spark = SparkSession.builder.getOrCreate()

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])

df.collect()

C:\Users\khodg\OneDrive\Documents\Coding_assignments\BigData\venv\Scripts\python.exe

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 1, 2, 12, 0)),
 Row(a=4, b=5.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 1, 3, 12, 0))]

In [5]:
spark_app = SparkSession.builder.appName('Ashraf_app').getOrCreate()
#Use RDD to find the smart students
student_rdd = spark.sparkContext.parallelize([("a", 89),("b",76),("c",78),("d",89),("e",90),("f",100),("g",34),("h",56),("i",54),("j",22),("m",45)])
print(student_rdd)
smart_st_rdd = student_rdd.filter(lambda x: x[1]>80)
smart_st_list = smart_st_rdd.collect()
print(smart_st_list)

ParallelCollectionRDD[19] at readRDDFromFile at PythonRDD.scala:289
[('a', 89), ('d', 89), ('e', 90), ('f', 100)]

In [4]:
student_rdd = spark.sparkContext.parallelize([("a",89),("b",76),("c",78),("d",89),("e",90),("f",100),("g",34),("h",56),("i",54),("j",22),("m",45)])
#Create DataFrame
student_df = spark.createDataFrame(student_rdd,schema = ["Name","Marks"])
#createing a table from student_df, so that it can be SQL queried
student_df.createOrReplaceTempView("smart_st_table") # then you can run queries on stTable
#SQL queries
smart_student_df = spark_app.sql(" select * from smart_st_table where Marks>80 order by Marks desc")
#show results
smart_student_df.show()

+----+-----+
|Name|Marks|
+----+-----+
|   f|  100|
|   e|   90|
|   a|   89|
|   d|   89|
+----+-----+

In [7]:
rdd1 = spark.sparkContext.parallelize(["b","a","c"])
rdd1.flatMap(lambda x: (x,10)).collect()

['b', 10, 'a', 10, 'c', 10]

In [10]:
from operator import add
rdd2 = spark.sparkContext.parallelize([("a",2),("b",4),("a",15)])
rdd2.reduceByKey(add).collect()

[('b', 4), ('a', 17)]

In [11]:
x = spark.sparkContext.parallelize([("a",2),("b",4)])
y = spark.sparkContext.parallelize([("a",2),("a",4)])
x.join(y).collect()

[('a', (2, 2)), ('a', (2, 4))]

In [13]:
spark.sparkContext.parallelize([1,2,4,32,3,4,5,6]).reduce(add)

57

In [23]:
txt = spark.read.json("test.json")
txt.createOrReplaceTempView("txt_table")
show = spark.sql("select * from txt_table")
show.show()

+------+------+
|  name| today|
+------+------+
|Karson|friday|
+------+------+

In [27]:
newSpark = SparkSession.builder.appName('newSQL').getOrCreate()
df2 = newSpark.read.option("delimiter", ",").option("header",True).csv("social_net_with_header.csv")

In [31]:
df2.show()

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
|     3|  Deanna| 40|    465|
|     4|   Quark| 68|     21|
|     5|  Weyoun| 59|    318|
|     6|  Gowron| 37|    220|
|     7|    Will| 54|    307|
|     8|  Jadzia| 38|    380|
|     9|    Hugh| 27|    181|
|    10|     Odo| 53|    191|
|    11|     Ben| 57|    372|
|    12|   Keiko| 54|    253|
|    13|Jean-Luc| 56|    444|
|    14|    Hugh| 43|     49|
|    15|     Rom| 36|     49|
|    16|  Weyoun| 22|    323|
|    17|     Odo| 35|     13|
|    18|Jean-Luc| 45|    455|
|    19|  Geordi| 60|    246|
+------+--------+---+-------+
only showing top 20 rows

In [32]:
df2.createOrReplaceTempView("newView")

In [33]:
hey = spark_app.sql("select * from newView")
hey.show()

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
|     3|  Deanna| 40|    465|
|     4|   Quark| 68|     21|
|     5|  Weyoun| 59|    318|
|     6|  Gowron| 37|    220|
|     7|    Will| 54|    307|
|     8|  Jadzia| 38|    380|
|     9|    Hugh| 27|    181|
|    10|     Odo| 53|    191|
|    11|     Ben| 57|    372|
|    12|   Keiko| 54|    253|
|    13|Jean-Luc| 56|    444|
|    14|    Hugh| 43|     49|
|    15|     Rom| 36|     49|
|    16|  Weyoun| 22|    323|
|    17|     Odo| 35|     13|
|    18|Jean-Luc| 45|    455|
|    19|  Geordi| 60|    246|
+------+--------+---+-------+
only showing top 20 rows