In [2]:
from pyspark.sql import SparkSession # import spark sessions
from pyspark.sql.types import IntegerType
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
import os, sys
os.environ['PYSPARK_PYTHON'] = sys.executable # needed for spark to work with python, grabs the venv python executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [18]:
spark = SparkSession.builder.appName("homework").getOrCreate() # creates the app to use later for sql and to read the
rdd2 = spark.read.option("delimiter", ",").option("header", True).csv("departuredelays.csv") # read the csv file with headers enabled
rdd2 = rdd2.withColumn("delay", rdd2['delay'].cast(IntegerType()))
rdd2.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [19]:
rddTxt = spark.read.option("delimiter", "\t").option("header", True).csv("airport-codes-na.txt")
rddTxt.show()

+-----------+-----+-------+----+
|       City|State|Country|IATA|
+-----------+-----+-------+----+
| Abbotsford|   BC| Canada| YXX|
|   Aberdeen|   SD|    USA| ABR|
|    Abilene|   TX|    USA| ABI|
|      Akron|   OH|    USA| CAK|
|    Alamosa|   CO|    USA| ALS|
|     Albany|   GA|    USA| ABY|
|     Albany|   NY|    USA| ALB|
|Albuquerque|   NM|    USA| ABQ|
| Alexandria|   LA|    USA| AEX|
|  Allentown|   PA|    USA| ABE|
|   Alliance|   NE|    USA| AIA|
|     Alpena|   MI|    USA| APN|
|    Altoona|   PA|    USA| AOO|
|   Amarillo|   TX|    USA| AMA|
|Anahim Lake|   BC| Canada| YAA|
|  Anchorage|   AK|    USA| ANC|
|   Appleton|   WI|    USA| ATW|
|     Arviat|  NWT| Canada| YEK|
|  Asheville|   NC|    USA| AVL|
|      Aspen|   CO|    USA| ASE|
+-----------+-----+-------+----+
only showing top 20 rows

In [20]:
rdd2.createOrReplaceTempView("departure")
rddTxt.createOrReplaceTempView("airport")

In [22]:
spark.sql("select Distinct airport.City, airport.IATA, departure.delay, departure.origin, departure.destination from airport inner join departure on airport.IATA=departure.origin where departure.origin = 'ATL' AND departure.destination = 'EWR' ORDER BY departure.delay asc").show()

+-------+----+-----+------+-----------+
|   City|IATA|delay|origin|destination|
+-------+----+-----+------+-----------+
|Atlanta| ATL|  -11|   ATL|        EWR|
|Atlanta| ATL|  -10|   ATL|        EWR|
|Atlanta| ATL|   -9|   ATL|        EWR|
|Atlanta| ATL|   -8|   ATL|        EWR|
|Atlanta| ATL|   -7|   ATL|        EWR|
|Atlanta| ATL|   -6|   ATL|        EWR|
|Atlanta| ATL|   -5|   ATL|        EWR|
|Atlanta| ATL|   -4|   ATL|        EWR|
|Atlanta| ATL|   -3|   ATL|        EWR|
|Atlanta| ATL|   -2|   ATL|        EWR|
|Atlanta| ATL|   -1|   ATL|        EWR|
|Atlanta| ATL|    0|   ATL|        EWR|
|Atlanta| ATL|    1|   ATL|        EWR|
|Atlanta| ATL|    2|   ATL|        EWR|
|Atlanta| ATL|    3|   ATL|        EWR|
|Atlanta| ATL|    4|   ATL|        EWR|
|Atlanta| ATL|    5|   ATL|        EWR|
|Atlanta| ATL|    6|   ATL|        EWR|
|Atlanta| ATL|    7|   ATL|        EWR|
|Atlanta| ATL|    8|   ATL|        EWR|
+-------+----+-----+------+-----------+
only showing top 20 rows