In [1]:
from pyspark.sql import SparkSession # import spark sessions
from pyspark.sql.types import IntegerType
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
import os, sys
os.environ['PYSPARK_PYTHON'] = sys.executable # needed for spark to work with python, grabs the venv python executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [7]:
spark = SparkSession.builder.appName("homework").getOrCreate() # creates the app to use later for sql and to read the
rdd2 = spark.read.option("delimiter", ",").option("header", True).csv("departuredelays.csv") # read the csv file with headers enabled
rdd2.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [11]:
rddTxt = spark.read.option("delimiter", "\t").option("header", True).csv("airport-codes-na.txt")
rddTxt.show()

+-----------+-----+-------+----+
|       City|State|Country|IATA|
+-----------+-----+-------+----+
| Abbotsford|   BC| Canada| YXX|
|   Aberdeen|   SD|    USA| ABR|
|    Abilene|   TX|    USA| ABI|
|      Akron|   OH|    USA| CAK|
|    Alamosa|   CO|    USA| ALS|
|     Albany|   GA|    USA| ABY|
|     Albany|   NY|    USA| ALB|
|Albuquerque|   NM|    USA| ABQ|
| Alexandria|   LA|    USA| AEX|
|  Allentown|   PA|    USA| ABE|
|   Alliance|   NE|    USA| AIA|
|     Alpena|   MI|    USA| APN|
|    Altoona|   PA|    USA| AOO|
|   Amarillo|   TX|    USA| AMA|
|Anahim Lake|   BC| Canada| YAA|
|  Anchorage|   AK|    USA| ANC|
|   Appleton|   WI|    USA| ATW|
|     Arviat|  NWT| Canada| YEK|
|  Asheville|   NC|    USA| AVL|
|      Aspen|   CO|    USA| ASE|
+-----------+-----+-------+----+
only showing top 20 rows

In [12]:
rdd2.createOrReplaceTempView("departure")
rddTxt.createOrReplaceTempView("airport")

In [23]:
spark.sql("select * from airport inner join departure on airport.IATA=departure.origin where departure.origin = 'ATL' AND departure.destination = 'EWR' ORDER BY departure.delay").show()

+-------+-----+-------+----+--------+-----+--------+------+-----------+
|   City|State|Country|IATA|    date|delay|distance|origin|destination|
+-------+-----+-------+----+--------+-----+--------+------+-----------+
|Atlanta|   GA|    USA| ATL|02020848|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03090848|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|01020730|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03201115|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|02051237|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03091345|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|01021500|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03051345|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|02061350|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03090742|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|01041920|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03032140|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|02071919|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03101236|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|01041630|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03061236|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|02071000|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03101345|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|01041120|   -1|     648|   ATL|        EWR|
|Atlanta|   GA|    USA| ATL|03071915|   -1|     648|   ATL|        EWR|
+-------+-----+-------+----+--------+-----+--------+------+-----------+
only showing top 20 rows